<ng-template #loading>
  <div class="alert alert-info text-center">Espere por favor...</div>
</ng-template>

<div *ngIf="country; else loading">
  <div class="row">
    <div class="col-12">
      <h2>
        País:
        <strong>{{ country.name.common }}</strong>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img
        [src]="country.flags.svg"
        [alt]="country.name.common"
        class="img-thumbnail"
      />
      />
    </div>
    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          Código: <strong>{{ country.cca3 }}</strong>
        </li>

        <li class="list-group-item">
          Región: <strong>{{ country.region }}</strong>
        </li>
        <li class="list-group-item">
          Población: <strong>{{ country.population | number }}</strong>
        </li>
        <li class="list-group-item">
          Área: <strong>{{ country.area | number }} km²</strong>
        </li>
        <li class="list-group-item">
          Fronteras:
          <strong>
            <span *ngFor="let border of country.borders"> {{ border }}, </span>
          </strong>
        </li>
      </ul>
      <br />
    </div>
    <h2>Traducciones</h2>
    <div class="d-flex flex-wrap">
      <span
        *ngFor="let item of country.translations | keyvalue"
        class="badge bg-primary m-1"
        >{{ item.value.common }}</span
      >
    </div>
  </div>
</div>
