<h2>Por Continente</h2>

<hr />
<div class="col">
  <!-- <shared-search-box
      (onValue)="searchByRegion($event)"
      placeholder="Buscar por capital..."
    ></shared-search-box> -->
  <div class="col text-center">
    <button
      *ngFor="let region of regions"
      class="btn mx-2"
      [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
      (click)="searchByRegion(region)"
    >
      {{ region }}
    </button>
  </div>
  <br />
  <div class="col">
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
